/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body, html {
    margin: auto;
    background-color: #212121;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar { // Hides scrollbar, might not keep this.
    display: none;
}